h3 {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

p {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.logo {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.web {
    color: #4D5AE5;
}

ul {
    list-style-type: none;
}

.menu .logo-list {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.menu .logo-list:hover {
    color: #404BBF;
}

.menu .logo-list:active {
    color: #404BBF;
    text-decoration: underline;
}

.contacts .contact {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
}

.contacts .contact:hover {
    color: #404BBF;
}

.contacts .contact:focus {
    color: #404BBF;
}

body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;
    line-height: 1.5;
}
    
.business {
    background-color: #2E2F42;
}

.page-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 56px;
}

.button {
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.second-title {
    font-size: 36px;
    text-align: center;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    text-align: center;
}

.port-title {
    font-size: 36px;
    text-align: center;
}

.end-page {
    background-color: #2E2F42;
}

.logo-foot {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.end-text {
    color: #F4F4FD;
    font-size: 16px;
}